$videoRedColor: #e41a4a;
$textShadowSize: 0.4vw;

.root {
  background-color: $videoBgColor;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  overflow: hidden;
}

.title {
  font-size: 5vw;
  color: black; // $videoBlueColor;
}

.curtain {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition:
    all $transitionTimeMs,
    opacity $effectTimeMs,
    background $effectTimeMs;
  background-color: $videoBgColor;
  opacity: 0;
  pointer-events: none;
  .started & {
    opacity: 1;
    pointer-events: all;
  }
}

.button {
  &:global(.MuiButtonBase-root) {
    &:before {
      background: linear-gradient(165deg, transparent 0%, color.change(black, $alpha: 0.5) 100%);
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: 0.5;
      transition: all $transitionTimeMs;
    }
    overflow: hidden;
    display: flex;
    gap: 2vw;
    transition: all $transitionTimeMs;
    $bgColor: $videoBlueColor;
    background-color: $bgColor;
    border: 0.5vw solid color.change(white, $alpha: 0.8);
    font-size: 4vw;
    color: color.mix(white, $videoRedColor, 100%);
    padding: 2vw 5vw;
    border-radius: 10vw;
    box-shadow:
      0.2vmin 0.2vmin 0 0.3vmin color.change(black, $alpha: 0.3),
      inset 0.1vmin 0.1vmin 0 0.2vmin color.change(black, $alpha: 0.2);
    opacity: 0.8;
    &:hover {
      opacity: 1;
      &:before {
        opacity: 0.3;
      }
    }
    &:active {
      &:before {
        opacity: 0.8;
      }
    }
  }
}
